body {
    font-family: Raleway;
    background-color: #2BADFF;
    color: white;
}

h1, h2, h3, h4, p {
    text-align: center;
}


#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border: 5px solid #2082bf;
    padding: 5px;
}

#menulink {
    border-left: none;
    border-right: 5px solid #2082bf;
    padding: 5px 0px 5px 0px;
}

a {
    border-left: 5px solid #2082bf;
    border-right: 5px solid #2082bf;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

#nonlink {
    border: 1px solid #2BADFF;
}
