body {
    font-family: Raleway;
    background-color: #ff4627;
    color: white;
}

h1, h2, h3, h4, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border: 5px solid white;
    padding: 5px;
}

#money {
    background-color: lime;
    padding: 5px;
    border: 2px solid green;
}

#multiplier {
    background-color: red;
    padding: 5px;
    border: 2px solid maroon;
}

#rebirth {
    background-color: blue;
    padding: 5px;
    border: 2px solid darkblue;
}

#ureb {
    background-color: hotpink;
    padding: 5px;
    border: 2px solid deeppink;
}

a {
    border: 5px solid white;
    margin: 5px;
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
