body {
    font-family: Raleway;
    background-color: #ff4627;
    color: white;
}

h1, h2, h3, h4, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}