body {
    font-family: Raleway;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid white;
    padding: 5px;
}

a {
    border-left: 5px solid white;
    border-right: 5px solid white;
    margin: 5px;
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
